{% extends "./base.jinja" %}
{% block content %}
<body>
<div class="container">
  <div class="row">
    <h1 class="text-center align-middle p-5">Welcome {{ trainer.email }}!</h1>
    <hr>
  </div>
  <div class="row">
    <h1 class="text-center align-middle mb-3">Trainer Appointments: Confirm or Cancel</h1>
  </div>
</div>



{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
<div class="row">
{% if category == 'danger' %}
<div class="alert alert-danger mt-3" role="alert">
  {{ message }}
</div>
{% else %}
<div class="alert alert-success mt-3" role="alert">
  {{ message }}
</div>
{% endif %}
</div>
{% endfor %}
{% endwith %}


{% if appointments %}
<div class="row">

<p>Please select appointments you would like to cancel.  If you need to change the time, please cancel first and then go to the member page and click 'Schedule Consultation' to re-schedule.</p>

<form method="post" action="/appointments_trainer">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Confirm</th>
        <th scope="col">Cancel</th>
      </tr>
    </thead>
    <tbody>
      {% for appointment in appointments %}
      <tr>
        <td>{{ appointment.appointment_date }}</td>
        <td>{{ appointment.appointment_time }}</td>
        {% if appointment.confirmed == true %}
        <td>Confirmed</td>
        <td><button class="btn btn-warning" type="submit" name="cancel" value="{{ appointment.id }}">Cancel</button></td>
        {% else %}
        <td>
          <button class="btn btn-danger" type="submit" name="confirm" value="{{ appointment.id }}">Confirm</button>
        </td>
        <td>
          <button class="btn btn-warning" type="submit" name="cancel" value="{{ appointment.id }}">Cancel</button>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    {% else %}
    <div class="container">
      <div class="row">
            <div class="alert alert-warning mt-3 mb-3 fs-1 text-lg-center align-text-center align-text-middle" role="alert">
        No Appointments
        </div>
      </div>
    </div>
    
    {% endif %}
  </div>
</div>
</div>
    </tbody>
  </table>
</form>
</body>

{% endblock content %}