{% extends "./base.jinja" %}
{% block content %}
<h1>Welcome {{ user.email }}!</h1>
<hr>

<p>Please select appointments you would like to cancel.  If you need to change the time, please cancel first and then go to the member page and click 'Schedule Consultation' to re-schedule.</p>

{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
{% if category == 'danger' %}
<div class="alert alert-danger mt-3" role="alert">
  {{ message }}
</div>
{% else %}
<div class="alert alert-success mt-3" role="alert">
  {{ message }}
</div>
{% endif %}
{% endfor %}
{% endwith %}

<form class="form-special" method="post" action="/appointments">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Trainer</th>
        <th scope="col">Confirmed</th>
        <th scope="col">Cancel</th>
      </tr>
    </thead>
    <tbody>
    {% if appointments %}
      {% for appointment in appointments %}
          {% if appointment.appointment_date == current_date %}
            {% if appointment.appointment_time > current_time %}
                <tr>
                  <td>{{ appointment.appointment_date }}</td>
                  <td>{{ appointment.appointment_time }}</td>
                  <td>{{ appointment.trainer_name }}</td>
                  {% if appointment.confirmed == true %}
                  <td>Confirmed</td>
                  {% else %}
                  <td>Pending</td>
                  {% endif %}
                  <td>
                    <button class="btn btn-danger" type="submit" name="cancel" value="{{ appointment.id }}">Cancel</button>
                  </td>
                </tr>
            {% endif %}
          {% endif %}

          {% if appointment.appointment_date > current_date %}
            <tr>
              <td>{{ appointment.appointment_date }}</td>
              <td>{{ appointment.appointment_time }}</td>
              <td>{{ appointment.trainer_name }}</td>
              {% if appointment.confirmed == true %}
              <td>Confirmed</td>
              {% else %}
              <td>Pending</td>
              {% endif %}
              <td>
                <button class="btn btn-danger" type="submit" name="cancel" value="{{ appointment.id }}">Cancel</button>
              </td>
            </tr>
        {% endif %}
      {% endfor %}
    {% endif %}
      </tbody>
      </table>
      </form>
      <div class="flex-container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2">
          </div>
          <div class="col-md-auto">
              <form method="get" action="/member">
              <button class="btn btn-success w-15 my-2 py-2 justify-content-cente" type="submit">Back</button>
              </form>
          </div>
          <div class="col col-lg-2">
          </div>
        </div>
      </div>
{% endblock content %}