{% extends "./base.jinja" %}
{% block content %}
  <script>
    document.getElementById('home_nav').classList.add('active')
    document.getElementById('home_nav').classList.add('text-light')
</script>
<style>
        .nav {--bs-nav-link-color: "#fff";}
</style>

        <div class="row hero">
            <div class="container col-xxl-12 px-5 my-1">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="./static/assets/images/edward_front_page_icons_opt.png" style="max-height:400px; max-width: 400px" class="d-block mx-lg-50% mx-sm-25% img-fluid edward" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <h1 class="display-1 fw-bold text-body-emphasis lh-1 mb-3 sm-align-items-center mainfont">I am Edward!</h1>
                    <p class="lead secondaryfont">Welcome to my website, Visions! I am a personal trainer and healthy eating coach.  It is my mission to help everyone reach their personal fitness goals and to spread awareness of what healthy eating really means.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cards_main" style="background-image:url('./static/assets/images/raw/gym_background_opt.jpg')">
        <div class="container px-4 py-5" id="custom-cards">
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg card_vegetables border-white">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 align-items-center">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold secondaryfont">Food Philosophy</h3>
                    <a href="/food" class="stretched-link"></a>
                  </div> 
                </div>
              </div>
        
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg border-white card_fitness">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 align-items-center">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold secondaryfont">Workout Philosophy</h3>
                    <a href="/train" class="stretched-link"></a>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg border-white card_contact">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1 align-items-center">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold secondaryfont">Let's Connect</h3>
                    <a href="/contact" class="stretched-link"></a>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
{% endblock content %}