{% extends "./base.jinja" %}
{% block content %}
  <script>
    document.getElementById('member_nav').classList.add('active')
    document.getElementById('member_nav').classList.add('text-light')
  </script>
  <style>
    .nav {--bs-nav-link-color: "#fff";}
  </style>
  <body id="member_body">
    <main class="form-signin w-50 m-auto">
      
     <img class="mb-4" src="/static/assets/images/raw/visions_lightbg.png" alt="logo" width="100" height="100">
     {% with messages = get_flashed_messages(with_categories=true)%}
     {% for category, message in messages %}
     {% if user %}
     <h1 class="h3 mb-3 fw-normal">Welcome {{user.email}} </h1>
      {% endif %}
     <hr>
     {% endfor %}
     {% endwith%}
    <p>
        <form class="mb-5" method="get" action="/logout">
      <button class="btn btn-secondary w-15 my-2 py-2" type="submit" name="logout_btn" formaction="/logout">Logout</button>  
        </form>
    </p>
    <p><h3>Account Settings:</h3><hr></p>
    <p>
      <form class="mb-5" method="get" action="/reset">
    <button class="btn btn-primary w-15 my-2 py-2" type="submit" name="update_btn" formaction="/reset">Update Password</button>
      </form>
    </p>

    <p>
        <form class="mb-5" method="get" action="/delete">
      <button class="btn btn-danger w-15 my-2 py-2" type="submit" name="delete_btn" formaction="/delete">Delete Account</button>
        </form>
    </p>
    <p><h3>Scheduling:</h3><hr></p>
    <p>
        <form class="mb-5" method="get" action="/trainer">
      <button class="btn btn-info w-15 my-2 py-2" type="submit" name="update_btn" formaction="/trainer">Schedule Consultation</button>
        </form>
    </p>

     

    </main>  
  </body>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% endblock content %}
