{% extends "./base.jinja" %}
{% block content %}
  <script>
    document.getElementById('member_nav').classList.add('active')
    document.getElementById('member_nav').classList.add('text-light')
  </script>
  <style>
    .nav {--bs-nav-link-color: "#fff";}
  </style>
  <body id="member_body">
    <main class="form-signin w-50 m-auto">
    {% if trainer %}
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <h1 class="h3 mb-3 fw-normal">Welcome {{trainer.email}} </h1>
        </div>
      </div>

    <hr>
    {% endif %}
    <div class="container">
      <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <img class="mb-4" src="/static/assets/images/raw/visions_lightbg.png" alt="logo" width="100" height="100">
        </div>
      </div>
    </div>
     {% with messages = get_flashed_messages(with_categories=true)%}
     {% for category, message in messages %}
      {% if category == 'danger' %}
      <div class="alert alert-danger mt-3" role="alert">
        {{ message }}
      </div>
      {% else %}
      <div class="alert alert-success mt-3" role="alert">
        {{ message }}
      </div>
      {% endif %}
     {% endfor %}
     {% endwith%}
     <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <form class="mb-5" method="get" action="/logout">
              <button class="btn btn-secondary w-15 my-2 py-2" type="submit" name="logout_btn" formaction="/logout_trainer">Logout</button>  
            </form>
          </div>
        </div>
     </div>
    <p><h3>Account Settings:</h3><hr></p>
    <div class="container">
        <div class="row">
        <div class="col">
          <form class="mb-5" method="get" action="/reset">
            <button class="btn btn-primary w-15 my-2 py-2" type="submit" name="update_btn" formaction="/reset">Update Password</button>
          </form>
        </div>
      </div>   
    </div>
    <p><h3>Scheduling:</h3><hr></p>
    <p>
    {% if appointments %}
     {% for appointment in appointments %}
      {% if appointment.confirmed == false%}
       {% if appointment.appointment_date < current_date %}
       {% else %}
        {% if appointment.appointment_date < current_date %}
        {% else %}
      <div class="alert alert-warning mt-3" role="alert">
        Appointment scheduled for {{ appointment.appointment_date }} at {{ appointment.appointment_time }} is pending
      </div>
      {% endif %}
      {% endif %}
      {% else %}
      {% if appointment.appointment_date < current_date %}
       {% else %}
       {% if appointment.appointment_time < current_date %}
      <div class="alert alert-success mt-3" role="alert">
        Appointment scheduled for {{ appointment.appointment_date }} at {{ appointment.appointment_time }} is confirmed
      </p>
      {% endif %}
      {% endif %}
      {% endif %}
     {% endfor %}
     </div>
    {% else %}
      <div class="alert alert-info mt-3" role="alert">
        No appointments scheduled
      </div>
    {% endif %}
    </p>
    <div class="container">
    <div class="row">
      <div class="col">
          <form class="mb-5" method="get" action="/appointments_trainer">
          <button class="btn btn-warning w-15 my-2 py-2" type="submit">Manage Appointments</button>
          </form>
      </div>
    </div>

    </div>

     

    </main>  
  </body>
    <script src="/static/assets/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% endblock content %}
