<%- include ('partials/header') %>
  <script>
    document.getElementById('member_nav').classList.add('active')
    document.getElementById('member_nav').classList.add('text-light')
  </script>
  <style>
    .nav {--bs-nav-link-color: "#fff";}
  </style>
  <body>
    
    <form class="text-center align-top">
        <h3 class="mb-1 fw-normal text-center align-top">Hello, <%= locals.username %>!</h3>
        <hr>
        <br>
        <h3 class="mb-3 fw-normal text-center align-top">Select The Trainer To See Available Appointments</h3>
    <div class="btn-group my-1 text-top" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">Edward</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Trainer Two</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">Trainer Three</label>
    </div>
      <div>
        <button class="btn btn-primary w-15 my-2 py-2" type="submit" name="submit_btn" formaction="/schedule">Submit</button>
      </div>
    </form>

    </main>  
  </body>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<%- include ('partials/footer') %>
