<%- include('partials/header') %>
<body id="vision_body">
    <script>
        document.getElementById('vision_nav').classList.add('active')
        document.getElementById('vision_nav').classList.add('text-light')
    </script>
    <style>
            .nav {--bs-nav-link-color: "#fff";}
    </style>
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis training_mainfontnc">Vision</h1>
            <p class="lead">I am dedicated to helping people make healthy choices.  A key motivator and learning experience for me has been my mom's struggle with illness.</p>
            <p class="lead">My journey with her helps me understand that what you put in your body matters and that being vibrant and healthy involves exercise.</p>
            <p class="lead">Family and friends are important, let's be healthy so we can be with loved ones for as long as possible.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Training</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn More</button>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-2" style="text-align:center">
              <img class="" src="/assets/images/edward_front_page_opt.png" alt="" width="300">
          </div>
        </div>
    </div>

<%- include('partials/footer') %>